.q_container {
    background-color: #C4DDFF;
    width: 65%;
    height: fit-content;
    border-radius: 10px;
    margin: auto;
}

.q_question {
    font-size: 0.7vw;
    text-align: left;

    margin-left: 1%;
    margin-top: 1%;
}

.q_question_text {
    font-size: 0.45vw;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin-left: 1%;

}

.q_answers {
    padding-bottom: 0%;
}


.assistance_container {
    border-radius: 0 0 10px 10px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 0;
    justify-content: space-between;
    background-color: #6BD5E1;
}

.assistance_buttons {
    padding: 0.5%;
    transition: 0.24s;
    cursor: pointer;
}

.assistance_buttons:hover {
    background: #b6e16b !important;
    transform: scale(1.1);
}


.q_info {
    background: #025cd9;
}

.q_option {
    font-size: 0.9vw;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin: 1%;
    padding: 1%;
    min-width: 15%;
    max-width: fit-content;
    border: 2px solid #025cd9;
    border-radius: 10px;
    transition: 0.34s;
    cursor: pointer;
}

.q_option:hover {
    background-color: #025cd9 !important;
    color: white !important;
    transform: scale(1.05);
}

.assistance_icons {
    transition: 0.8s;
}

.assistance_buttons:hover .assistance_icons:hover {
    transform: rotate3d(1, 1, 1, 360deg);
}


.inner_q_box {

    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: space-around;
    height: 10vh;
}

.nav_button {
    margin: 1%;
    width: 5%;
    background: red;
    padding-right: 0.5%;
    padding-left: 0.5%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    border-radius: 10px;
}

#prev {
    margin-right: 25%;
}

#next {
    margin-left: 25%;
}

.finish_button {
    width: 5%;
    font-size: medium;
    font-weight: 600;
    margin-left: 76.5%;
    background: #F24C4C;
    padding-right: 0.5%;
    padding-left: 0.5%;
    padding-top: 0.7%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    padding-bottom: 0.7%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.35s;
}

.finish_button:hover {
    background: #b13636 !important;
    transform: scale(1.1);
}



.acessory_container {
    width: 15%;
    height: fit-content;
    position: fixed;
    right: 1%;
    background: #FFE69A;
    border-radius: 10px;
}

.progress_container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.box {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 7.5%;
    height: 15%;
    font-size: 0.8vw;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
    padding: 2%;
    background: white;
    border-radius: 5px;
    transition: 0.5s;
}

.box:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background: rgba(223, 120, 83, 0.445) !important;
    cursor: pointer;

}


.flag_mark {
    transition: 0.5s;
}